:root {
  --button-container-margin-top: 1.25rem;
  --button-container-flex-direction: column;
  --button-container-gap: 1rem 1rem;
}

.header-section .mobile-menu-content .single-button {
  padding: 19px 15px;
}

div[id^=trustpilot-widget] {
  display: none;
}

@media screen and (min-width: 540px) {
  :root {
    --button-container-flex-direction: row;
  }
}
@media screen and (min-width: 640px) {
  :root {
    --button-container-gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --button-container-margin-top: 45px;
  }
  .header-section .mobile-menu-content .single-button {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.button > span {
  line-height: 1.2;
}

@media screen and (max-width: 1067px) {
  .header-section .thb-secondary-area .single-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section-slideshow .slideshow__slide-bg,
  .section-slideshow .slideshow__slide-inner {
    position: initial;
  }
  .section-slideshow .slideshow__slide-bg {
    height: 380px;
  }
  .section-slideshow .slideshow__slide-inner {
    margin-top: -75px;
  }
  .section-slideshow .slideshow__slide-inner .subheading {
    margin-bottom: 10px;
  }
  .section-slideshow .slideshow__slide-inner h1 {
    line-height: 1.2;
    font-size: 36px;
    margin-bottom: 10px;
  }
  .section-slideshow .slideshow__slide-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--button-container-gap);
  }
}
@media screen and (min-width: 768px) {
  .section-slideshow .slideshow__slide-button-container {
    display: flex;
    gap: var(--button-container-gap);
    flex-direction: var(--button-container-flex-direction);
  }
}
@media screen and (min-width: 1640px) {
  .section-slideshow .slideshow__slide .slideshow__slide-inner {
    align-items: center;
  }
}
@media screen and (min-width: 1900px) {
  .section-slideshow .slideshow__slide .slideshow__slide-inner {
    left: 12.5%;
  }
}
.kb-image-banner .row {
  justify-content: center;
  max-width: 1300px;
}

.kb-image-banner__link {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.kb-image-banner__link:hover {
  opacity: 0.8;
}

.kb-image-banner__banner {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .kb-image-banner__banner.is-mobile {
    max-width: 640px;
  }
  .kb-image-banner__banner.is-mobile + .kb-image-banner__banner {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .kb-image-banner__banner.is-mobile {
    display: none;
  }
}
.collection-grid__button-container {
  margin-top: var(--button-container-margin-top);
  display: flex;
  gap: var(--button-container-gap);
  flex-direction: var(--button-container-flex-direction);
}

@media screen and (min-width: 640px) {
  .collection-grid__button-container {
    justify-content: center;
  }
}
.kb-split-tiles__tiles {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 18px;
  overflow: hidden;
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.kb-split-tiles__item {
  position: relative;
}

.kb-tile__content {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: #fff;
  width: 100%;
  height: 100%;
}

.kb-tile__heading,
.kb-tile__copy {
  max-width: 440px;
}

.kb-tile__heading {
  color: inherit;
}

.kb-tile__copy p:last-child {
  margin-bottom: unset;
}

.kb-tile__copy a {
  color: inherit;
  text-decoration: underline;
  transition: color 250ms ease-in-out;
}

.kb-tile__copy a:hover {
  color: var(--color-accent2);
}

.kb-tile__button-container {
  margin-top: var(--button-container-margin-top);
  display: flex;
  gap: var(--button-container-gap);
  flex-direction: var(--button-container-flex-direction);
}

.kb-tile__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 640px) {
  .kb-tile__button-container {
    justify-content: center;
  }
}
@media screen and (min-width: 850px) {
  .kb-split-tiles__tiles {
    --button-container-margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    min-height: 500px;
  }
  .kb-tile__button-container {
    gap: 1.5rem;
  }
}
.kb-rc {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px 0;
}

.kb-rc__richtext__media {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.kb-rc__richtext__media.use-video--true {
  display: flex;
  justify-content: center;
  width: 100%;
}

.kb-rc__richtext__media.use-video--true video {
  max-width: 100%;
}

.kb-rc__richtext__media img {
  max-width: 400px;
  width: 100%;
}

.kb-rc__richtext__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.kb-rc__richtext__icon {
  width: 40px;
  height: 40px;
  display: flex;
}

.kb-rc__richtext__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.kb-rc__richtext__item h3 {
  font-size: 0.95rem;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: unset;
  margin-top: 5px;
}

.kb-rc__richtext__item p {
  font-size: 0.825rem;
  margin-bottom: unset;
}

@media screen and (min-width: 650px) {
  .kb-rc__richtext__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .kb-rc {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 60px;
  }
}
.shopify-section .testimonials__review-info {
  margin-top: calc(var(--button-container-margin-top) * 1.5);
}
.shopify-section .testimonials__review-info a {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.shopify-section .testimonials__review-info a:hover {
  opacity: 0.75;
}

@media screen and (min-width: 1366px) {
  .shopify-section .testimonials__inner {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .shopify-section .testimonials__inner::before, .shopify-section .testimonials__inner::after {
    content: "";
    display: block;
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;
    background: rgb(241, 241, 241);
    z-index: 1;
  }
  .shopify-section .testimonials__inner::before {
    left: 0;
    background: linear-gradient(90deg, rgb(241, 241, 241) 0%, rgba(241, 241, 241, 0) 100%);
  }
  .shopify-section .testimonials__inner::after {
    right: 0;
    background: linear-gradient(270deg, rgb(241, 241, 241) 0%, rgba(241, 241, 241, 0) 100%);
  }
}
.section-image-with-text .button {
  height: auto;
  line-height: 1.4;
  padding: 12px 20px;
  margin-top: calc(var(--button-container-margin-top) * 0.5);
}
.section-image-with-text .button + .button {
  margin-top: calc(var(--button-container-margin-top) * 0.75);
}

@media screen and (max-width: 639px) {
  .section-image-with-text .button {
    width: 100%;
  }
}
@media screen and (min-width: 550px) and (max-width: 767px) {
  .section-image-with-text .button + .button {
    margin-top: 0;
    margin-left: var(--button-container-margin-top);
  }
}
@media screen and (min-width: 768px) {
  .section-image-with-text .image-with-text {
    justify-content: space-between;
  }
  .section-image-with-text .image-with-text__image {
    flex: 0 1 auto;
  }
}
@media screen and (min-width: 1336px) {
  .section-image-with-text .button + .button {
    margin-top: 0;
    margin-left: calc(var(--button-container-margin-top) * 0.25);
  }
}