@media screen and (max-width: 767px) {
  .section-slideshow {
    .slideshow__slide-bg,
    .slideshow__slide-inner {
      position: initial;
    }
    .slideshow__slide-bg {
      height: 450px;
    }
    .slideshow__slide-inner {
      margin-top: -75px;
    }
    .slideshow__slide-button-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--button-container-gap);
    }
  }
}

@media screen and (min-width: 768px) {
  .section-slideshow {
    .slideshow__slide-button-container {
      display: flex;
      gap: var(--button-container-gap);
      flex-direction: var(--button-container-flex-direction);
    }
  }
}

@media screen and (min-width: 1640px) {
  .section-slideshow {
    .slideshow__slide {
      .slideshow__slide-inner {
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  .section-slideshow {
    .slideshow__slide {
      .slideshow__slide-inner {
        left: 12.5%;
      }
    }
  }
}
