.kb-rc{
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px 0;
}
.kb-rc__richtext__media{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.kb-rc__richtext__media.use-video--true{
  display: flex;
  justify-content: center;
  width: 100%;
}
.kb-rc__richtext__media.use-video--true video{
  max-width: 100%;
}
.kb-rc__richtext__media img{
  max-width: 400px;
  width: 100%;
}
.kb-rc__richtext__item{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.kb-rc__richtext__icon{
  width: 40px;
  height: 40px;
  display: flex;
}
.kb-rc__richtext__items{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.kb-rc__richtext__item h3{
  font-size: 0.95rem;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: unset;
  margin-top: 5px;
}
.kb-rc__richtext__item p{
  font-size: 0.825rem;
  margin-bottom: unset;
}
@media screen and (min-width: 650px){
  .kb-rc__richtext__items{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px){
  .kb-rc{
    grid-template-columns: repeat(2, 1fr);
    gap: 0 60px;
  }
}