.kb-split-tiles__tiles{
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 18px;
  overflow: hidden;
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}
.kb-split-tiles__item{
  position: relative;
}
.kb-tile__content{
  background-color: rgba(0,0,0,0.5);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: #fff;
  width: 100%;
  height: 100%;
}
.kb-tile__heading,
.kb-tile__copy{
  max-width: 440px;
}
.kb-tile__heading{
  color: inherit;
}
.kb-tile__copy p:last-child{
  margin-bottom: unset;
}
.kb-tile__copy a{
  color: inherit;
  text-decoration: underline;
  transition: color 250ms ease-in-out;
}
.kb-tile__copy a:hover{
  color: var(--color-accent2);
}
.kb-tile__button-container{
  margin-top: var(--button-container-margin-top);
  display: flex;
  gap: var(--button-container-gap);
  flex-direction: var(--button-container-flex-direction);
}
.kb-tile__bg-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 640px){
  .kb-tile__button-container{
    justify-content: center;
  }
}

@media screen and (min-width: 850px){
  .kb-split-tiles__tiles{
    --button-container-margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    min-height: 500px;
  }
  .kb-tile__button-container{
    gap: 1.5rem;
  }
}