@use './_custom_section-slideshow.scss';
@use './_custom_section-collections-list.scss';
@use './custom_section-testimonials';
@use './custom_section-image-with-text';

:root{
  --button-container-margin-top: 1.25rem;
  --button-container-flex-direction: column;
  --button-container-gap: 1rem 1rem;
}

@media screen and (min-width: 540px){
  :root{
    --button-container-flex-direction: row;
  }
}

@media screen and (min-width: 640px){
  :root{
    --button-container-gap: 1.5rem;
  }
}


@media screen and (min-width: 768px){
  :root{
    --button-container-margin-top: 45px;
  }
}

.button{
  & > span{
    line-height: 1.2;
  }
}
